torch # NOTE: you need cuda enabled torch
safetensors # for saving & loading model weights
datasets # for handling data
tokenizers 
huggingface_hub # for storing model weights in cloud
accelerate # for loading model weights
pillow # for image pre-processing
matplotlib # for plotting
